travel-thing-amadeus-web-services-connector/src/main/resources/wsdl/1ASIWOSITRM_PRD_20130328_152327.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with WSDLGenerator 1.0.0 by Amadeus SAS -->
<!-- "Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved." -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.amadeus.com" xmlns:awsse="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" xmlns:command_cryptic_6_2="http://xml.amadeus.com/HSFREQ_06_2_1A" xmlns:command_crypticreply_6_2="http://xml.amadeus.com/HSFRES_06_2_1A" xmlns:pnr_reply_8_2="http://xml.amadeus.com/PNRACC_08_2_1A" xmlns:pnr_reply_9_1="http://xml.amadeus.com/PNRACC_09_1_1A" xmlns:pnr_addmultielements_8_2="http://xml.amadeus.com/PNRADD_08_2_1A" xmlns:pnr_retrieve_9_1="http://xml.amadeus.com/PNRRET_09_1_1A" xmlns:pnr_cancel_8_2="http://xml.amadeus.com/PNRXCL_08_2_1A" xmlns:queue_placepnr_3_1="http://xml.amadeus.com/QUQPCQ_03_1_1A" xmlns:queue_placepnrreply_3_1="http://xml.amadeus.com/QUQPCR_03_1_1A" xmlns:air_multiavailability_7_1="http://xml.amadeus.com/SATRQT_07_1_1A" xmlns:air_multiavailabilityreply_7_1="http://xml.amadeus.com/SATRSP_07_1_1A" xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:ticket_displaytst_5_1="http://xml.amadeus.com/TTSTRQ_05_1_1A" xmlns:ticket_displaytstreply_5_1="http://xml.amadeus.com/TTSTRR_05_1_1A" xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A" xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" targetNamespace="http://xml.amadeus.com">
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" schemaLocation="WBS_Session-2.0.xsd" />
      <xs:import namespace="http://xml.amadeus.com/HSFREQ_06_2_1A" schemaLocation="Command_Cryptic_06_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/HSFRES_06_2_1A" schemaLocation="Command_CrypticReply_06_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRACC_08_2_1A" schemaLocation="PNR_Reply_08_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRACC_09_1_1A" schemaLocation="PNR_Reply_09_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRADD_08_2_1A" schemaLocation="PNR_AddMultiElements_08_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRRET_09_1_1A" schemaLocation="PNR_Retrieve_09_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRXCL_08_2_1A" schemaLocation="PNR_Cancel_08_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/QUQPCQ_03_1_1A" schemaLocation="Queue_PlacePNR_03_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/QUQPCR_03_1_1A" schemaLocation="Queue_PlacePNRReply_03_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/SATRQT_07_1_1A" schemaLocation="Air_MultiAvailability_07_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/SATRSP_07_1_1A" schemaLocation="Air_MultiAvailabilityReply_07_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TNLRES_00_1_1A" schemaLocation="PNR_List_00_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TTSTRQ_05_1_1A" schemaLocation="Ticket_DisplayTST_05_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TTSTRR_05_1_1A" schemaLocation="Ticket_DisplayTSTReply_05_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" schemaLocation="Security_Authenticate_06_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" schemaLocation="Security_AuthenticateReply_06_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" schemaLocation="Security_SignOut_04_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" schemaLocation="Security_SignOutReply_04_1_1A.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_2.0">
    <wsdl:part element="awsse:Session" name="session" />
  </wsdl:message>
  <wsdl:message name="Air_MultiAvailability_7_1">
    <wsdl:part element="air_multiavailability_7_1:Air_MultiAvailability" name="Air_MultiAvailability_7_1" />
  </wsdl:message>
  <wsdl:message name="Air_MultiAvailabilityReply_7_1">
    <wsdl:part element="air_multiavailabilityreply_7_1:Air_MultiAvailabilityReply" name="Air_MultiAvailabilityReply_7_1" />
  </wsdl:message>
  <wsdl:message name="Command_Cryptic_6_2">
    <wsdl:part element="command_cryptic_6_2:Command_Cryptic" name="Command_Cryptic_6_2" />
  </wsdl:message>
  <wsdl:message name="Command_CrypticReply_6_2">
    <wsdl:part element="command_crypticreply_6_2:Command_CrypticReply" name="Command_CrypticReply_6_2" />
  </wsdl:message>
  <wsdl:message name="PNR_AddMultiElements_8_2">
    <wsdl:part element="pnr_addmultielements_8_2:PNR_AddMultiElements" name="PNR_AddMultiElements_8_2" />
  </wsdl:message>
  <wsdl:message name="PNR_Cancel_8_2">
    <wsdl:part element="pnr_cancel_8_2:PNR_Cancel" name="PNR_Cancel_8_2" />
  </wsdl:message>
  <wsdl:message name="PNR_List_0_1">
    <wsdl:part element="pnr_list_0_1:PNR_List" name="PNR_List_0_1" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_8_2">
    <wsdl:part element="pnr_reply_8_2:PNR_Reply" name="PNR_Reply_8_2" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_9_1">
    <wsdl:part element="pnr_reply_9_1:PNR_Reply" name="PNR_Reply_9_1" />
  </wsdl:message>
  <wsdl:message name="PNR_Retrieve_9_1">
    <wsdl:part element="pnr_retrieve_9_1:PNR_Retrieve" name="PNR_Retrieve_9_1" />
  </wsdl:message>
  <wsdl:message name="Queue_PlacePNR_3_1">
    <wsdl:part element="queue_placepnr_3_1:Queue_PlacePNR" name="Queue_PlacePNR_3_1" />
  </wsdl:message>
  <wsdl:message name="Queue_PlacePNRReply_3_1">
    <wsdl:part element="queue_placepnrreply_3_1:Queue_PlacePNRReply" name="Queue_PlacePNRReply_3_1" />
  </wsdl:message>
  <wsdl:message name="Security_Authenticate_6_1">
    <wsdl:part element="security_authenticate_6_1:Security_Authenticate" name="Security_Authenticate_6_1" />
  </wsdl:message>
  <wsdl:message name="Security_AuthenticateReply_6_1">
    <wsdl:part element="security_authenticatereply_6_1:Security_AuthenticateReply" name="Security_AuthenticateReply_6_1" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part element="security_signout_4_1:Security_SignOut" name="Security_SignOut_4_1" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part element="security_signoutreply_4_1:Security_SignOutReply" name="Security_SignOutReply_4_1" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTST_5_1">
    <wsdl:part element="ticket_displaytst_5_1:Ticket_DisplayTST" name="Ticket_DisplayTST_5_1" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSTReply_5_1">
    <wsdl:part element="ticket_displaytstreply_5_1:Ticket_DisplayTSTReply" name="Ticket_DisplayTSTReply_5_1" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="Air_MultiAvailability">
      <wsdl:input message="tns:Air_MultiAvailability_7_1" />
      <wsdl:output message="tns:Air_MultiAvailabilityReply_7_1" />
    </wsdl:operation>
    <wsdl:operation name="Command_Cryptic">
      <wsdl:input message="tns:Command_Cryptic_6_2" />
      <wsdl:output message="tns:Command_CrypticReply_6_2" />
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <wsdl:input message="tns:PNR_AddMultiElements_8_2" />
      <wsdl:output message="tns:PNR_Reply_8_2" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Cancel">
      <wsdl:input message="tns:PNR_Cancel_8_2" />
      <wsdl:output message="tns:PNR_Reply_8_2" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <wsdl:input message="tns:PNR_Retrieve_9_1" />
      <wsdl:output message="tns:PNR_Reply_9_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <wsdl:input message="tns:PNR_Retrieve_9_1" />
      <wsdl:output message="tns:PNR_List_0_1" />
    </wsdl:operation>
    <wsdl:operation name="Queue_PlacePNR">
      <wsdl:input message="tns:Queue_PlacePNR_3_1" />
      <wsdl:output message="tns:Queue_PlacePNRReply_3_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_Authenticate">
      <wsdl:input message="tns:Security_Authenticate_6_1" />
      <wsdl:output message="tns:Security_AuthenticateReply_6_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTST">
      <wsdl:input message="tns:Ticket_DisplayTST_5_1" />
      <wsdl:output message="tns:Ticket_DisplayTSTReply_5_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding type="tns:AmadeusWebServicesPT" name="AmadeusWebServicesBinding">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Air_MultiAvailability">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/SATRQT_07_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Command_Cryptic">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/HSFREQ_06_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/PNRADD_08_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Cancel">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/PNRXCL_08_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/PNRRET_09_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/PNRRET_09_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Queue_PlacePNR">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/QUQPCQ_03_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_Authenticate">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/VLSSLQ_06_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTST">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWOSITRM/TTSTRQ_05_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header part="session" message="tns:Session_2.0" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <soap:address location="https://production.webservices.amadeus.com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>


<!-- Build Key: 1F8B080000000000000025CD410AC2301404D07D4F314B455A7E1305F9BBA2500A16C504BA0E3560A04D431A056F6FD0DD30306F5AEB6D34C92D1EC9CD764D660E0C41B52C4996E208FD7CC5F5613EA80F2C248B3DDA5EEF8898A818D4F982F62F2C116F1BD70C31EA8A2A2A4E93B31E2684C98DBF07C65575506374216193F3360BCD0DDECC368F1AD50DB9D4F7FE0B98F7195195000000 -->