travel-thing-amadeus-web-services-connector/src/main/resources/wsdl/Air_MultiAvailabilityReply_07_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    (c) 2003-2015 MuleSoft, Inc. The software in this package is published under the terms of the CPAL v1.0 license,
    a copy of which has been included with this distribution in the LICENSE.md file.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/SATRSP_07_1_1A" xmlns="http://xml.amadeus.com/SATRSP_07_1_1A" elementFormDefault="qualified">
  <xs:element name="Air_MultiAvailabilityReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Availability/Schedule/Timetable Response Message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageActionDetails" minOccurs="0" type="MessageActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specification of the action code of the response</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="errorOrWarningSection" minOccurs="0" maxOccurs="5">
          <xs:annotation>
            <xs:documentation xml:lang="en">Warnings and Errors found at process level</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningInfo" type="ApplicationErrorInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error or Warning message found at process level</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="textInformation" minOccurs="0" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error or Warning free flow text found at process level</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="singleCityPairInfo" minOccurs="0" maxOccurs="2">
          <xs:annotation>
            <xs:documentation xml:lang="en">Information related to one city pair</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="locationDetails" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of board point and off point of the segment</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cityPairFreeFlowText" minOccurs="0" maxOccurs="9" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Free flow text found at city pair level</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cityPairErrorOrWarning" minOccurs="0" maxOccurs="5">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Warnings and Errors found at city pair level</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cityPairErrorOrWarningInfo" type="ApplicationErrorInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Error or Warning message found at city pair level</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cityPairErrorOrWarningText" minOccurs="0" type="InteractiveFreeTextTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Error or Warning free flow text found at city pair level</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flightInfo" minOccurs="0" maxOccurs="300">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Information related to a flight. The repetition has been increased to 300 to support availability award calendar requests.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="basicFlightInfo" type="AvailabilityProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Main information on the flight</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="infoOnClasses" minOccurs="0" maxOccurs="26" type="ClassInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Information on classes</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cabinClassInfo" minOccurs="0" maxOccurs="4">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Information related to classes ordered by cabin</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cabinInfo" type="CabinDetailsType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Information on cabins</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="infoByCabinOnClasses" minOccurs="0" maxOccurs="26" type="ClassInformationType">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Information on classes associated to a cabin</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="additionalFlightInfo" minOccurs="0" type="AdditionalProductDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Additional information on the flight</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="trafficRestrictionList" minOccurs="0" type="TrafficRestrictionTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of the traffic restrictions applied on a segment</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="flightErrorWarningSection" minOccurs="0" maxOccurs="5">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Warnings and Errors found at flight level</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flightErrorWarningInfo" type="ApplicationErrorInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Error or Warning message found at flight level</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="flightErrorWarningText" minOccurs="0" type="InteractiveFreeTextTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Error or Warning free flow text found at flight level</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="negoSpaceDetails" minOccurs="0" type="NegociatedSpaceType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify information on a negociated space availability</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="travelChoiceMessage" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Customer Server Edifact message</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="summaryAndAvailabilityLines" type="PrefAndPolicySummaryAndAvailLineType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To summarise the preferences and policies that have been selected and the availability line</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="preferencesSection" maxOccurs="3">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To specify air preferences</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="profileIdentificationSection" type="ReservationControlInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a reference to a profile</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="travellerInformation" minOccurs="0" type="TravellerInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a traveller and personal details relating to the traveller</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="associationName" minOccurs="0" type="ProfileNameType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify a profile name for corporate, agencies or organizations</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="originAndDestinationRules" minOccurs="0" type="OriginAndDestinationRequestType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify origin and destination rules</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cabinRules" minOccurs="0" type="CabinEligibilityRulesType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify Cabin eligibility rules</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="availabilityInformationSection" minOccurs="0" type="AvailabilityInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify availability informations</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="itineraryPreference" minOccurs="0" type="ItineraryPreferencesType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify itinerary preferences</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information concerning an airline flight</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDetails" minOccurs="0" type="AdditionalProductTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional details describing a specific means of transport</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureStation" minOccurs="0" type="StationInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Station Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalStation" minOccurs="0" type="StationInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Station Information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="milageDetails" minOccurs="0" type="MileageTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Accumulated elapsed time for multi-leg flight and distance by flight leg.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerTimeDetails" minOccurs="0" type="TravellerTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger departure and arrival times from gate (e.g. airports with mobile lounges)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productFacilities" minOccurs="0" maxOccurs="10" type="ProductFacilitiesTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines indicators for facilities</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Additional product details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeOfAircraft" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">UN/IATA code identifying type of aircraft</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfStops" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of stops enroute made in a journey</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legDuration" minOccurs="0" type="Duration99_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elapsed flying time of the journey (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="onTimePercentage" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">On time performance indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dayOfOperation" minOccurs="0" type="NumericInteger_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day of week indicator based on schedules format:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectivePeriod" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">Time table effective and discontinue date: ddmmyyddmmyy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="complexingFlightIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the flight is a complexing or a change of gauge flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstChangeOfGauge" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character airport/city code where 1st change of gauge occurs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondChangeOfGauge" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character airport/city code where 2nd change of gauge occurs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thirdChangeOfGauge" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character airport/city code where 3rd change of gauge occurs</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Application error detail</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The code assigned by the receiver of a message for identification of  a data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies type of code list</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="listResponsible" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies agency responsible for code list</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="error" type="ApplicationErrorDetailTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the type and code of an error</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociatedPreferenceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Preference associated</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rcType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of profile associated to this departure point:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="highlight" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Level of highlighting</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociatedPreferenceType_5091C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Preference associated</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rcType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of profile associated to this company:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="highlight" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Level of highlighting</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priority" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Priority for airline preference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityComponentType">
    <xs:sequence>
      <xs:element name="reservationControlType" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationLine" minOccurs="0" type="AlphaNumericString_Length1To54">
        <xs:annotation>
          <xs:documentation xml:lang="en">Availability information line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="moreIndicator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">More selected availability lines indicator, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityInformationDetailsType">
    <xs:sequence>
      <xs:element name="line" type="AlphaNumericString_Length1To54">
        <xs:annotation>
          <xs:documentation xml:lang="en">Availability information line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinationValue" minOccurs="0" type="AlphaNumericString_Length2To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Destination value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify Availability Information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="availabilityInformation" type="AvailabilityInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">AVAILABILITY INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDetails" type="ProductDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on date and time of a flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureLocation" type="LocationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure location of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departurePreference" minOccurs="0" maxOccurs="3" type="AssociatedPreferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this departure point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalLocation" minOccurs="0" type="LocationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival location of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalPreference" minOccurs="0" maxOccurs="3" type="AssociatedPreferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this arrival point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="marketingCompany" minOccurs="0" type="CompanyIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the marketing airline of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="markCompanyPreferences" minOccurs="0" maxOccurs="3" type="AssociatedPreferenceType_5091C">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingCompany" minOccurs="0" type="CompanyIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the operating airline of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operCompanyPreference" minOccurs="0" maxOccurs="3" type="AssociatedPreferenceType_5091C">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightIdentification" minOccurs="0" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productTypeDetail" minOccurs="0" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the flight type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineItemNumber" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Journey number as on the screen display</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassDesignationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Cabin class designation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinClassOfService" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin type:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the physical layout of a cabin class or compartment for seating</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinDesignation" type="CabinClassDesignationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product class, number and designator which defines a cabin in a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinEligibilityRulesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify Cabin Eligibility rules.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generalCabinPreferences" minOccurs="0" type="GeneralCabinPrefRulesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">GENERAL CABIN PREFERENCES RULES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinExclusion" minOccurs="0" maxOccurs="2" type="GeneralCabinExclusionsRulesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">GENERAL CABIN EXCLUSIONS RULES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="domesticFlightCabin" minOccurs="0" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Domestic flight cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="eftCabinPreference" minOccurs="0" type="ElapsedFlyingTimeRulesType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ELAPSED FLYING TIME RULES</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of classes option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productClassDetail" type="ProductDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on a class</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="preferenceForTheClass" minOccurs="0" maxOccurs="3" type="AssociatedPreferenceType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To give a reference to a customer preference associated to this class.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Company identification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 2-3 character code to specify the marketing airline designator code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElapsedFlyingTimeRulesType">
    <xs:sequence>
      <xs:element name="elapsedFlyingTime" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elapsed flying time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="greaterThanEFTCabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Greater than EFT cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lowerThanEFTCabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lower than EFT cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tripCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmbargoedTransitsType">
    <xs:sequence>
      <xs:element name="value" type="AlphaString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transit value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Free text qualification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codedIndicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates whether the free text is coded or not coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfInfo" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coded text, or specifies type of information in 4440</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isoLanguageCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO Code for Language of free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralCabinExclusionsRulesType">
    <xs:sequence>
      <xs:element name="cabin" minOccurs="0" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralCabinPrefRulesType">
    <xs:sequence>
      <xs:element name="cabin" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tripCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free form or coded text information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifies the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItineraryPreferencesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify itinerary preferences.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="preferredAirport" minOccurs="0" maxOccurs="2" type="PreferredAirportsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">PREFERRED AIRPORTS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="embargoedTransit" minOccurs="0" maxOccurs="10" type="EmbargoedTransitsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">EMBARGOED TRANSITS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityAirport" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character code to specify place of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="functionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the action code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responseType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the process has been successfully completed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Message function or business details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessFunction" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main function Action Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subActionCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A sub-function to further identify what has been performed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MileageTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Milage or time details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightLeg" minOccurs="0" type="NumericInteger_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight leg mileage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measureUnit" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Measure unit qualifier M = Miles</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NegociatedSpaceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIFY INFORMATION ON A NEGOTIATED SPACE AVAILABILITY</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ownerDetails" type="OwnerDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifications of the owner</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tourName" minOccurs="0" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tourReference" minOccurs="0" type="AlphaNumericString_Length1To40">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recordLocator" minOccurs="0" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="negoStatus" minOccurs="0" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Negociated Space Status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character ATA/IATA airport/city code for origin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">3 character ATA/IATA airport/city code for destination</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationExclusionsType">
    <xs:sequence>
      <xs:element name="airlineCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="privilegeIndicator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lock indicator, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="owner" minOccurs="0" type="AlphaNumericString_Length6To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationPrefType">
    <xs:sequence>
      <xs:element name="airlineCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="privilegeIndicator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Lock indicator, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="owner" minOccurs="0" type="AlphaNumericString_Length6To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priority" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Priority</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originValue" minOccurs="0" type="AlphaNumericString_Length2To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Origin value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinationValue" minOccurs="0" type="AlphaNumericString_Length2To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Destination value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tripCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabin" minOccurs="0" type="AlphaString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClass" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify origins and destinations rules.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originAndDestinationPreference" minOccurs="0" maxOccurs="10" type="OriginAndDestinationPrefType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ORIGIN AND DESTINATION PREFERENCES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originAndDestinationExclusions" minOccurs="0" maxOccurs="10" type="OriginAndDestinationExclusionsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ORIGIN AND DESTINATION EXCLUSIONS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerDetailsType">
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Owner indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrefAndPolicySummaryAndAvailLineType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To summarise the preferences and policies that have been selected and the availability line.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="summaryLine" type="AlphaNumericString_Length1To250">
        <xs:annotation>
          <xs:documentation xml:lang="en">Policies and preferences summary line</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="activeProfileType" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="availabilityComponent" minOccurs="0" type="AvailabilityComponentType">
        <xs:annotation>
          <xs:documentation xml:lang="en">AVAILABILITY COMPONENT</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreferredAirportsType">
    <xs:sequence>
      <xs:element name="code" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airport code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product date or time</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Date (ddmmyy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of a class type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceClass" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="availabilityStatus" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates availability status, coded or numeric</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modifier" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation booking modifier:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductFacilitiesTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product facilities</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines indicators for facilities</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product identification details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number, a 1-4 digit number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An operational suffix (A-E) related to flight number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product type details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productIndicators" maxOccurs="9" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the flight type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfileNameType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a profile name for groups, corporates and agencies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="correspondingProfileType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="profileName" type="AlphaNumericString_Length3To60">
        <xs:annotation>
          <xs:documentation xml:lang="en">Profile name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control type, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="profileRecordLocator" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Station information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gate" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate gate of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="terminal" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate terminal of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="concourseTerminal" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate concourse terminal of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrafficRestrictionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Traffic restriction details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traffic restriction code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrafficRestrictionTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey certain restrictions that apply to a means of transport on all or part of a journey</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trafficRestriction" minOccurs="0" maxOccurs="5" type="TrafficRestrictionDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">defines the traffic restrictions</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:sequence>
      <xs:element name="firstName" minOccurs="0" type="AlphaNumericString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller Given Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passengerType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerAccompaniedByInfant" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller accompanied by infant</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passengerID" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other names</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a travellers and personal details relating to the taravellers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nameInformation" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherInformation" minOccurs="0" maxOccurs="2" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:sequence>
      <xs:element name="name" type="AlphaNumericString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="groupIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfTravellers" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Traveller time details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger schedule time of departure (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger schedule time of arrival (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checkInDateAndTime" minOccurs="0" type="NumericInteger_Length10To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Check in date and time (ddmmyyhhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To40">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..40</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length6To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To250">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..250</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length10To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{10,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To54">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..54</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="54" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length6To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an6..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Duration99_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 100H. All digits are mandatory. Example: from 0000 to 9959</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9][0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593418BDB3A10C7EFFA14A2977778C4B173684B400777936C0BCDEE92A4B74050AC493254965C8DBCACBBEC77EFC876DA2D3C782D84A019C933D2EFFF9FDBE5DD7253EE968BC3FD9D9AE5C56CC2BF592157018DEE6491CF8BF7F3D95B79BBDEFD9BE7F33C17E5BA8C5D03B4420B4ED7A03871F8A009AB5D4A674F64C45113DCF11E35BA027589B1994FA74FB5CD74AD0DB49455BE9E8A63EB8C85050635258811DD99A6062B12D505AAAF5BFEAFB58AA1055179037C8494F32E45750D8EA371AF6EB4EB523BE55A6B39D17401CF97A8DE94433BF9107C1310A20E9DD4CEC81BEF4E68B8066A2B3FB9930FB58EE8DD5CB64EB7F1E2037E07235B82FEB841AAACA73680A418B08AB693FCCD110DD7C82463CBE5445E9B51A6334AB1B57293EE4172C3B70F8F60B237C2C049B736DE8626E132EAA42D8130BE3D5AD8C2B7165C050F3A56977107DC873F8209EED799E724D0CBE1F91102F1AB7815C00297E1953E7387EE459C58BE4D6B99994F4AF6712F67FF715AFD4F01EB2B6D47E4D69F0DCBB898EF3F2ECBC57E69F0A4ABB8F3DED27EB93B2C90A276F1869562FD58B9FD5A87AF90141FCE50AF35ED3FFB33D772E7FE2268EE9DED440DE10C238C7EBD42B086B63EC49FF8F8E1C4F72A2931FD3DB760D5D18ECE717F85A8F1E8E21DC4418EDE6CC1FBF88A501F270367627842224A698EF2695E8C395AF9505AE4DAA3639317B0025AB093B8379B72A048B50E31D5FDE2B0C2D88D0F89413BB2BD3F998F62D6341D2BEFCAF5F4D980457E866603BD64BC2BD2F5CCEBF161B3DC5C6766A8C9991E553FC9E82AF14436DEB7B169E3CA5B0341A5841093C97AC0F80F49FC352793891820A9A214AFFAABF2A13C94180E45A1D9D3B546A7B6E54EC053C3721D341D16CB5BB5DB7C595EE5913A8056EFAE613ABDD93E8886C701E9C2020FD8076D54C1AB474C82A9D9C045F70855EAB9E6B1C2F291D5D647B4CC4F5C75FAEFED0D346CAFD1002A7F277E00290161B90C050000
-->

