travel-thing-amadeus-web-services-connector/src/main/resources/wsdl/Air_MultiAvailability_07_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    (c) 2003-2015 MuleSoft, Inc. The software in this package is published under the terms of the CPAL v1.0 license,
    a copy of which has been included with this distribution in the LICENSE.md file.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/SATRQT_07_1_1A" xmlns="http://xml.amadeus.com/SATRQT_07_1_1A" elementFormDefault="qualified">
  <xs:element name="Air_MultiAvailability">
    <xs:annotation>
      <xs:documentation xml:lang="en">Availability/Schedule/Timetable Request Message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageActionDetails" type="MessageActionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specification of the action code of the request</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="frequentTraveller" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Frequent traveller details.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="travellerDetails" type="TravellerInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent traveller details.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="travelleridentification" minOccurs="0" type="FrequentTravellerInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent traveller identification.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="requestSection" minOccurs="0" maxOccurs="2">
          <xs:annotation>
            <xs:documentation xml:lang="en">Information related to availability request</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="availabilityProductInfo" type="AvailabilityProductionInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of dates for an availability request.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="boardOffDetails" minOccurs="0" maxOccurs="12">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Multi-city request. Contains a board or an off point in the ODI segment.  In case of request by radius, the value and the unit is specified in the MEA segment. A request may contain up to 6 different origins and/or 6 different destinations.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="boardOffPoints" type="AvailabilityProductionInfoType_15252S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Contains a board or an off point.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cityRadius" minOccurs="0" type="MeasurementsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Alternate city request. Contains the radius around the board or off point in miles or kilometres.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="travelChoiceInfo" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Information related to a travel choice request</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travelChoiceDetails" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of process details for travel choice request</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="profileInformation" minOccurs="0" type="ReservationControlInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of the travel choice profile used in the request</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="optionClass" minOccurs="0" type="ClassQueryType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of classes option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="connectionOption" minOccurs="0" maxOccurs="3" type="ConnectionType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of connections option. The request may contain up to 3 combinations of preferred or excluded connecting points.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="numberOfSeatsInfo" minOccurs="0" type="RelatedProductInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of the number of seats requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="airlineOrFlightOption" minOccurs="0" maxOccurs="2" type="AirlineOptionType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of some airline or flight option.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cabinOption" minOccurs="0" type="CabinDescriptionType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of cabins option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="negoSpaceDetails" minOccurs="0" type="NegociatedSpaceType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">specification of the tour name and reference or record locator</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="availabilityOptions" type="AvailabilityOptionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of the options of an availability request</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="umRequest" minOccurs="0" type="UnaccompaniedMinorRequestType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Unaccompanied minor requested ages</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AirlineOptionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of some airline or flight option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIdentification" minOccurs="0" maxOccurs="6" type="FullFlightIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline / Flight option. The request may contain up to 6 preferred or excluded airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="excludeAirlineIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline exclusion</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityOptionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the options of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productTypeDetails" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the availability type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="optionInfo" minOccurs="0" maxOccurs="13" type="SelectionDetailsInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productAvailability" minOccurs="0" maxOccurs="5" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product Availability option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfAircraft" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">UN/IATA code identifying type of aircraft</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityProductionInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of dates and locations of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="availabilityDetails" maxOccurs="31" type="ProductDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Multidate request. Defines date and time of an availability request. A request may contain up to 31 days. These 31 days may include single dates or date ranges.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityProductionInfoType_15252S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of dates and locations of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassDesignationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product class, number and designator which defines a cabin in a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="expandCabinIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin Expansion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClassOfServiceList" maxOccurs="2" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinDescriptionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of cabins option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinDesignation" minOccurs="0" type="CabinClassDesignationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product class, number and designator which defines a cabin in a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderClassesByCabin" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines if the classes will be ordered by cabin in the response</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassQueryType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of classes option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productClassDetails" maxOccurs="3" type="ProductDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of a class type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expandClassRequest" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the request is expanded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectPointDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the first connection point and time</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="location" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ATA/IATA code directory - connection city/airport</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Connection time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicatorList" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional information on the connection option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of connections option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstConnection" type="ConnectPointDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the first connection point and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondConnection" minOccurs="0" maxOccurs="4" type="ConnectPointDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the other connection points and time. The request may contain up to 5 preferred or excluded connection points.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the frequent traveller number by company code with the capability to reference a specific traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent flyer card number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerReference" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Customer Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Priority code associated to the frequent flyer card.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" type="FrequentTravellerIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent flyer details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFrequentTravellerDetails" minOccurs="0" maxOccurs="8" type="FrequentTravellerIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other Frequent flyer details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FullFlightIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Airline / Flight option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airlineCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code corresponding to an airline option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="suffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix not authorized in case of exclude airline option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Departure Location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityAirport" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character IATA code to specify place of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicator used to force to use the Airport or the City code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify physical measurements, including dimension tolerances, weights and counts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valueRange" type="ValueRangeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Radius in miles or kilometers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the action code of the request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="functionDetails" type="MessageFunctionBusinessDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the action code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the action code</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessFunction" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main function Action Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subActionCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A sub function to further identify what action is requested (usable with Scroll requests)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NegociatedSpaceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIFY INFORMATION ON A NEGOTIATED SPACE AVAILABILITY</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tourName" minOccurs="0" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tourReference" minOccurs="0" type="AlphaNumericString_Length1To40">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recordLocator" minOccurs="0" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines date and time of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure date for Availability/Schedule, Effective date for Timetable  (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date for Availability/Schedule Discontinue date for Timetable  (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of a class type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceClass" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nightModifierOption" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Night Modifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product Availability option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="discountCode" type="AlphaNumericString_Length2To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">discount code for product availability</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfSeats" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of seats associated to this code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the availability type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeOfRequest" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the type of availability request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfPassengers" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of passengers</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">PROFILE RECORD LOCATOR</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the travel choice profile used in the request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="profileRecordLocator" minOccurs="0" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile record locator and type for travel choice request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Selection details information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Highlighting preferences option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arguments" minOccurs="0" maxOccurs="5" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">argument For the option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType_26805C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeOfDisplay" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Travel Choice type of display</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tripCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType_26806C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger reference option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generalInfo" type="SelectionDetailsInformationType_26805C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Travel Choice general information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passengerReferenceInfo" minOccurs="0" type="SelectionDetailsInformationType_26806C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger reference information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="highlightingInfo" minOccurs="0" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Highlighting of preferences information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the given/first name and the title of a traveller and the traveller type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="uniqueCustomerIdentifier" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="infantIndicator" minOccurs="0" type="AlphaNumericString_Length1To1" />
      <xs:element name="title" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To70" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI" />
      <xs:element name="otherPaxDetails" minOccurs="0" maxOccurs="99" type="TravellerDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To15" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnaccompaniedMinorRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Availability request for unaccompanied minors</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="umAge" maxOccurs="9" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unaccompanied minor's age</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValueRangeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Measurement value and relevant minimum and maximum tolerances in that order.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="unit" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unit of the radius.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="NumericInteger_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the radius.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To40">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..40</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length6To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF4505896726817067850633B2DB04EB28E723360D0E2D81E9422550E15441BE4BF7728C9DBECA1E82E6018F341CDC77B6F6E56B7AB6D59AD96FBBB5B7595175733FE5D15721DD0E85E16F9A2F86371F551DE6CAA0F79BEC873516ECAD8B7406BB4E074038A03FBCF9AB0AE52387B26230E9AE09673D4EA1AD439C676319F3F3736D38D36D05156FB662E0E9D33169618D49C204674279A1BAC49D467A8BF3DF07FA3550C1D88DA1BE027A49C77C96B1A70EC4DB9A6D5AE4FED94EBACE540DB073C9DA37A578EEDE47DF06D40883AF4523B23AFBD3BA2E11AA8ADFCEA8E3E343AA2770BD939DDC5B30FF83718D9110CCF0D526D3D750124C58075B4BDE46F0E68B8462619B65CCEE4A519653AA3E45B2BB7690E925B9E3E3C81C9DE090347DDD97813DA049751476D0984F1DDC1C2037CEFC0D570AF637D9E32E03EFF2730C1FD7CF392087ADDBF3C4120DE8AAD0016B80C5BFAC41DFA577164FAB69D65CC7C6272F0073A878F93F59B02D6D7DA4E905B7F324CE372B1FBB22A97BB95C1A3AE63E5BDA5DDAADA2F91A276F19A9962FE98B9DD46876F90181FDFD0C035EDFEF427AEE54EC32068EE9CED4503E104131883BD46B0861E7C88FFC0C78B13CF5552C2F4DFB125B38E76528EFB5F10B51E5DBC8538D231882D781FDF2034F849C0991857488852BAA37C9E17538CD63E9416B9F6A4D8A405AC8196AC24EECDA21C51A4468798EA3E3AAC31F6D32231684776D027E3A3186B9A4F95AB72337F316091D7D02CA0D78CB3228D67DE9E0F8BE5FA7233634D8E0C500D978CAE16CF64E35D17DB2EAEBD3510540A08319B6D4618DF93C49F77329B8911245594E24D7F55DE97FB12C3BE28346BBAD1E8D4435909786E99AEBDA6FD7275A3AAEDE3EA428FD401B4FA7471D3EBED5F9568F91C90CE4CF008FBC88D2AD87AC244189B032E7A8050A59E1B3E2B2C9F986D7D40CBF8890B4FBF484FDCABFC93F801ED646ED607050000
-->

